* {
    margin: 0;
    padding: 0;
}

body {
    background: #f5f5f5;
    font-size: 62.5%;
}

.head {
    outline: 1px solid red;
    position: relative;
}

.head .bg {
    width: 100%;
    vertical-align: top;
}

.downList {
    position: absolute;
    top: 1.2rem;
    right: 1.6rem;
}

.downList a {
    color: #ffffff;
    margin-left: 2rem;
    height: 3.2rem;
    display: inline-block;
    padding-top: 1.5rem;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
}

.downList a:first-of-type {
    background: url("../image/my/urse.png") center 0 no-repeat;
    background-size: 1rem 1.1rem;
}

.downList a:last-of-type {
    background: url("../image/my/down.png") center 0 no-repeat;
    background-size: 1rem 1.1rem;
}

.head .logo {
    width: 4rem;
    height: 4rem;
    position: absolute;
    left: 10rem;
    top: 5rem;
}

.head .login {
    position: absolute;
    left: 10rem;
    bottom: 2rem;
    color: #ffffff;
    border: 1px solid #ffffff;
    padding: 0.4rem 1.2rem;
}

.userList {
    margin-top: 0.7rem;
    background: #ffffff;
    padding: 0 2rem;
}

.userList li {
    height: 3.5rem;
    line-height: 3.5rem;
    border-bottom: 1px solid #dcdcdc;
    background: url("../image/my/right.png") right center no-repeat;
    background-size: 0.6rem 1.2rem;
    list-style: none;
}

.userList a {
    text-decoration: none;
    color: #666666;
    font-size: 14px;
}

.userList img {
    width: 1.2rem;
    height: 1.2rem;
}

.rentalAddr {
    height: 3.6rem;
    line-height: 3.6rem;
    background: #ffffff;
    border-bottom: 1px solid #c5c5c5;
    padding-left: 1.5rem;
}