body {
  background-color: #f5f5f5;
}
.X-nav-topPicure {
  width: 100%;
  height: 17rem;
  background: url(../image/index/banner.png) no-repeat;
  background-size: 100% 17rem;
}
.X-nav-topPicure .X-search {
  width: 80%;
  height: 2rem;
  margin-left: 10%;
  margin-top: 14rem;
  font-size: 1.1rem;
  box-sizing: border-box;
  border: 0.1rem solid #4c4c4c;
  border-radius: 0.5rem;
  background: url(../image/index/seach.jpg) no-repeat;
  padding: 0rem 0rem 0rem 2rem;
  background-size: 2rem 2rem;
}
nav {
  width: 100%;
  background-color: #ff8a00;
  display: flex;
  justify-content: space-around;
}
nav a {
  color: #fff;
  width: 15%;
  height: 6.5rem;
}
nav a > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
nav a > div img {
  width: 3.5rem;
  margin: 0.5rem 0rem;
}
.X-nav-bottomPicure {
  width: 100%;
  height: 19.5rem;
}
.X-nav-bottomPicure img {
  margin-top: 0.6rem;
  width: 100%;
  height: 18rem;
}
.X-hot-house {
  width: 100%;
}
.X-hot-house .X-hot-house-title {
  width: 100%;
  height: 4rem;
  background-color: #ff8a00;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.X-hot-house .X-hot-house-title p {
  height: 1.5rem;
  line-height: 1.5rem;
  font-size: 1.3rem;
  font-weight: 600;
  margin-left: 1.5rem;
}
.X-hot-house .X-hot-house-contents {
  background-color: #fff;
  width: 100%;
  margin-bottom: 0.6rem;
  border-bottom: 0.1rem solid #e5e5e5;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content {
  width: 90%;
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 5% 1.5rem 5%;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-picture {
  width: 9rem;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-picture img {
  width: 8rem;
  height: 7.5rem;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce {
  width: 12rem;
  height: 7.5rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce a p {
  width: 12rem;
  height: 1.8rem;
  line-height: 1.8rem;
  font-size: 1.3rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce > div:nth-of-type(1) {
  height: 1.7rem;
  line-height: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce > div:nth-of-type(1) .X-hot-house-construction {
  font-size: 0.9rem;
  font-weight: 550;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce > div:nth-of-type(1) .X-hot-house-prices {
  font-size: 1rem;
  font-weight: 600;
  color: #ff8a00;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce > div:nth-of-type(2) {
  height: 1.7rem;
  line-height: 1.7rem;
  display: flex;
  justify-content: space-between;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce > div:nth-of-type(2) > span {
  color: #818181;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce > div:nth-of-type(2) .X-hot-house-location {
  font-size: 0.9rem;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce > div:nth-of-type(2) .X-hot-house-centiare-prices {
  font-size: 0.92rem;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce > .X-hot-house-label {
  width: 12rem;
  height: 1.7rem;
  line-height: 1.7rem;
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.X-hot-house .X-hot-house-contents .X-hot-house-content .X-hot-house-introduce > .X-hot-house-label > span {
  margin-right: 0.5rem;
  font-size: 0.85rem;
  height: 1.3rem;
  line-height: 1.3rem;
  padding-left: 0.3rem;
  padding-right: 0.3rem;
  background-color: #f4f7f9;
  color: #8dadc6;
}
.X-hot-house .X-hot-house-contents hr {
  background-color: #ff1919;
  width: 90%;
  margin-left: 5%;
}
.X-hotAttention-or-friendLink {
  border-top: 0.1rem solid #e5e5e5;
  background-color: #fff;
}
.X-hotAttention-or-friendLink .X-hotAttention-or-friendLink-title {
  width: 100%;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.X-hotAttention-or-friendLink .X-hotAttention-or-friendLink-title a {
  width: 50%;
  box-sizing: border-box;
  height: 3.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 0.1rem solid #ff8a00;
}
.X-hotAttention-or-friendLink .X-hotAttention-or-friendLink-title a span {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  color: #676767;
}
.X-hotAttention-or-friendLink .X-hotAttention-or-friendLink-title .X-hotAttention-nowTitle {
  border-bottom: 0.2rem solid #ff8a00;
}
.X-hotAttention-or-friendLink .X-hotAttention-or-friendLink-title .X-hotAttention-nowTitle span {
  color: #ff8a00;
}
.X-hotAttention-or-friendLink .X-hotAttention-content {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}
.X-hotAttention-or-friendLink .X-hotAttention-content a {
  width: 35%;
  box-sizing: border-box;
  height: 2.5rem;
  display: flex;
  align-items: center;
}
.X-hotAttention-or-friendLink .X-hotAttention-content a span {
  display: flex;
  justify-content: center;
  font-size: 1rem;
  color: #525252;
}
.X-free-download {
  position: fixed;
  z-index: 10;
  bottom: 0;
  color: #fff;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  background-color: rgba(80, 76, 76, 0.15);
}
.X-free-download img {
  width: 2rem;
  height: 2rem;
}
.X-free-download .X-APP-introduce {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.X-free-download .X-APP-introduce .X-app-logo {
  width: 3rem;
  height: 3rem;
}
.X-free-download .X-APP-introduce .X-app-introduce {
  width: 48%;
}
.X-free-download .X-APP-introduce .X-app-introduce p:nth-of-type(1) {
  font-size: 1.5rem;
}
.X-free-download .X-APP-introduce .X-free-app-download {
  width: 30%;
  height: 4rem;
  background-color: #ff8a00;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
